aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.7
datasets==4.0.0
dill==0.3.8
distro==1.9.0
dnspython==2.7.0
exceptiongroup==1.2.2
fastapi==0.116.1
filelock==3.18.0
frozenlist==1.4.1
fsspec==2025.3.0
greenlet==3.1.1
h11==0.14.0
hf-xet==1.1.5
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.34.1
idna==3.10
jiter==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.7
langchain-mongodb==0.6.2
langchain_mongodb==0.6.2
langchain-openai==0.2.1
langchain-text-splitters==0.3.0
langgraph==0.2.32
langgraph-checkpoint==2.0.0
langsmith==0.1.129
lark==1.2.2
marshmallow==3.22.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.97.1
orjson==3.10.7
packaging==24.1
pandas==2.3.1
pyarrow==21.0.0
pydantic==2.9.2
pydantic-core==2.23.4
pydantic-settings==2.5.2
pymongo==4.13.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.35
starlette==0.39.2
tenacity==8.5.0
tiktoken==0.9.0
tqdm==4.67.1
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.2
urllib3==2.2.3
uv==0.8.3
uvicorn==0.32.0 --no-deps
h11>=0.8
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.1
xxhash==3.5.0
yarl==1.13.1